<div class="container">
  <h3 class="text-center mt-5">Create New User</h3>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6 col-12">
        <label for="firstName"
          >First Name<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control w-md-75"
          formControlName="firstName"
          id="firstName"
          placeholder="Enter first name"
        />
        @if (createUserForm.get('firstName')?.invalid &&
        createUserForm.get('firstName')?.touched) {
        <div class="text-danger">First name is required.</div>
        }
      </div>

      <div class="form-group col-md-6 col-12">
        <label for="lastName"
          >Last Name<span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          id="lastName"
          placeholder="Enter last name"
        />
        @if (createUserForm.get('lastName')?.invalid &&
        createUserForm.get('lastName')?.touched) {
        <div class="text-danger">Last name is required.</div>
        }
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 col-12">
        <label for="email"
          >Email address<span class="text-danger">*</span></label
        >
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="Enter email"
        />
        @if (createUserForm.get('email')?.invalid &&
        createUserForm.get('email')?.touched) {
        <div class="text-danger">Please enter a valid email.</div>
        }
      </div>

      <div class="form-group col-md-6 col-12">
        <label for="password"
          >Temporary Password<span class="text-danger">*</span></label
        >
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
          placeholder="Password"
        />
        @if ( createUserForm.get('password')?.invalid &&
        createUserForm.get('password')?.touched) {
        <div class="text-danger">
          Password must be at least 6 characters long.
        </div>
        }
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6 col-12 mt-2">
        <label for="">Department<span class="text-danger">*</span></label>
        <div ngbDropdown class="d-inline-block w-100">
          <button
            type="button"
            class="btn btn-outline-primary w-100"
            id="dropdownBasic2"
            ngbDropdownToggle
          >
            {{ chosenDepartment }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic2"
            class="bg-main-color"
          >
            @for (item of departments; track $index) {
            <button
              class="dropdown-item"
              (click)="setDepartment(item.name)"
              type="button"
            >
              {{ item.name }}
            </button>
            }
          </div>
          @if (createUserForm.get('department')?.invalid &&
          createUserForm.get('department')?.touched) {
          <div class="text-danger">Department is required.</div>
          }
        </div>
      </div>
      <div class="col-md-6 col-12 mt-2">
        <div ngbDropdown class="d-inline-block w-100">
          <label for="">Title<span class="text-danger">*</span></label>
          <button
            type="button"
            class="btn btn-outline-primary w-100"
            id="dropdownBasic1"
            [disabled]="chosenDepartment === 'Choose Department'"
            ngbDropdownToggle
          >
            {{ chosenTitle }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="bg-main-color"
          >
            @for (item of titles; track $index) {
            <button
              class="dropdown-item"
              (click)="setTitle(item.name, item.id, item.departmentId)"
              type="button"
            >
              {{ item.name }}
            </button>
            }
          </div>
          @if (createUserForm.get('title')?.invalid &&
          createUserForm.get('title')?.touched) {
          <div class="text-danger">Title is required.</div>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 mt-2">
        <div ngbDropdown class="d-inline-block w-100">
          <label for="">Manager</label>
          <button
            type="button"
            class="btn btn-outline-primary w-100"
            id="dropdownBasic3"
            [disabled]="this.createUserForm.value.isNotManaged"
            ngbDropdownToggle
          >
            {{ chosenManager }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="bg-main-color"
          >
            @for (item of managers; track $index) {
            <button
              class="dropdown-item"
              (click)="
                setManager(item.firstName + ' ' + item.lastName, item.id)
              "
              type="button"
            >
              {{ item.firstName + " " + item.lastName }}
            </button>
            }
          </div>
          @if (createUserForm.get('manager')?.invalid &&
          createUserForm.get('manager')?.touched) {
          <div class="text-danger">Manager is required.</div>
          }
        </div>
      </div>
      <div class="form-check col-md-5 mt-md-5 mx-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          formControlName="isNotManaged"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Does not have a manager
        </label>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn mt-5 w-50">Add User</button>
    </div>
  </form>
</div>
