<div class="container">
  @if(this.addLearning){
    <app-new-learning (cancel)="onCancel()"></app-new-learning>
    }
    @else if(this.updateLearning){
    <app-admin-update-learning  [id]="this.id" (cancel)="onCancel()"></app-admin-update-learning>
    }

    @else if(this.addType||this.updateType){
    <app-new-update-type  [id]="this.id" [updateEnabled]="this.updateType" [createEnabled]="this.addType" (cancel)="onCancel()"></app-new-update-type>
    }
    @else if(this.addSubject||this.updateSubject){
      <app-new-update-subject [id]="this.id" [updateEnabled]="this.updateSubject" [createEnabled]="this.addSubject" (cancel)="onCancel()"></app-new-update-subject>
      }

    <h1 class="d-flex justify-content-center">Admin Dashboard</h1>
    <hr>
    <hr>

    @if(learnings.length > 0){
      <h3 class="d-flex justify-content-center">Learnings</h3>

      <form class="row align-items-center">
        <div class="col-auto">
          <label for="learning-search" class="col-form-label">Full text search:</label>
        </div>
        <div class="col-auto">
          <input
          id="learning-search"
          class="form-control"
          type="text"
          [formControl]="filter"
          placeholder="Search learnings"
        />
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" type="button" (click)="onAddLearning()">Add Learning</button>
        </div>
      </form>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Length</th>
          <th scope="col">Description</th>
          <th scope="col">URL</th>
          <th scope="col">Subject</th>
          <th scope="col">Subject Type</th>
          <th scope="col">Type</th>
          <th scope="col">Type Score</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (learning of this.filteredLearnings; track $index) {
          <tr>
            <th scope="row">{{ $index }}</th>
            <td>
              {{ learning.title }}
            </td>
            <td>{{ learning.lengthInHours| number }}</td>
            <td>{{ learning.description }}</td>
            <td>{{ learning.url }}</td>
            <td>{{ learning.subjectName }}</td>
            <td>{{ learning.subjectType }}</td>
            <td>{{ learning.typeName }}</td>
            <td>{{ learning.typeBaseScore }}</td>
            <td>
              <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="onLearningUpdate(learning.id)"
              style="background-color: #0d6efd; border-color: #0d6efd;">
              Update Learning
              </button> |
              <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="onDelete(learning.id)"
              style="background-color: #dc3545; border-color: #dc3545;">
              Delete learning
            </button>
           </td>
          </tr>
        }
      </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
        [collectionSize]="learningCollectionSize"
        [(page)]="learningPage"
        [pageSize]="learningPageSize"
        (pageChange)="refreshLearnings()"
      ></ngb-pagination>

      <select class="form-select" style="width: auto" [(ngModel)]="learningPageSize" (ngModelChange)="refreshLearnings()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
      </div>

    }
    @else {
      <div class="d-flex justify-content-center">
        <h3>No Learnings found</h3>
      </div>
    }
    <hr>
    @if(types.length > 0){
      <h3 class="d-flex justify-content-center">Learning Types</h3>

      <form class="row align-items-center">
        <div class="col-auto">
          <label for="type-search" class="col-form-label">Full text search:</label>
        </div>
        <div class="col-auto">
          <input
          id="type-search"
          class="form-control"
          type="text"
          [formControl]="filter1"
          placeholder="Search types"
        />
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" type="button" (click)="onTypeCreate()">Add Type</button>
        </div>
      </form>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Base Score</th>

        </tr>
      </thead>
      <tbody>
        @for (type of this.filteredTypes; track $index) {
          <tr>
            <th scope="row">{{ $index }}</th>
            <td>
              {{ type.name }}
            </td>
            <td>{{ type.baseScore| number }}</td>

            <td>
              <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="onTypeUpdate(type.id)"
              style="background-color: #0d6efd; border-color: #0d6efd;">
              Update Type
              </button> |
              <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="onTypeDelete(type.id)"
              style="background-color: #dc3545; border-color: #dc3545;">
              Delete Type
            </button>
           </td>
          </tr>
        }
      </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="typeCollectionSize"
          [(page)]="typePage"
          [pageSize]="typePageSize"
          (pageChange)="refreshTypes()"
        ></ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="typePageSize" (ngModelChange)="refreshTypes()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    }
    @else {
      <div class="d-flex justify-content-center">
        <h3>No Types found</h3>
      </div>
    }

    <hr>
    @if(subjects.length > 0){
      <h3 class="d-flex justify-content-center">Learning Subjects</h3>

      <form class="row align-items-center">
        <div class="col-auto">
          <label for="subject-search" class="col-form-label">Full text search:</label>
        </div>
        <div class="col-auto">
          <input
          id="subject-search"
          class="form-control"
          type="text"
          [formControl]="filter2"
          placeholder="Search subjects"
        />
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" type="button" (click)="onAddSubject()">Add Subjects</button>
        </div>
      </form>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Subject Type</th>

        </tr>
      </thead>
      <tbody>
        @for (subject of this.filteredSubjects; track $index) {
          <tr>
            <th scope="row">{{ $index }}</th>
            <td>
              {{ subject.name }}
            </td>
            <td>{{ subject.type=="FUNCTIONAL"?"Functional":"Organisational" }}</td>

            <td>
              <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="onSubjectUpdate(subject.id)"
              style="background-color: #0d6efd; border-color: #0d6efd;">
              Update Subject
              </button> |
              <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="onDeleteSubject(subject.id)"
              style="background-color: #dc3545; border-color: #dc3545;">
              Delete Subject
            </button>
           </td>
          </tr>
        }
      </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="subjectCollectionSize"
          [(page)]="subjectPage"
          [pageSize]="subjectPageSize"
          (pageChange)="refreshSubjects()"
        ></ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="subjectPageSize" (ngModelChange)="refreshSubjects()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>

    }
    @else {
      <div class="d-flex justify-content-center">
        <h3>No Types found</h3>
      </div>
    }

  </div>
