<div class="container">
  <h3>Manage Wikis & Blogs</h3>
  <div class="col-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-center">
        @for (item of submissions; track $index) {
        <tr>
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ item.type }}</td>
          <td>{{ item.submissionDate | date : "MMM d, y, h:mm a" }}</td>
          <td>
            <span
              class="badge text-white bg-{{
                statusIdentifier(item.approvalStatus)
              }}"
            >
              {{ item.approvalStatus }}
            </span>
          </td>
          <td>
            <span class="btn">
              <i
                class="bi bi-eye"
                (click)="onViewMoreModal(item.title, item.body)"
              ></i>
            </span>
            @if(item.approvalStatus === 'PENDING') {
            <span class="btn">
              <i class="bi bi-chat" (click)="actionModal(item.id)"></i>
            </span>
            } @else {
            <span class="btn">
              <i class="bi bi-chat" (click)="seeComment(item.comment)"></i>
            </span>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
