.nav-bg-color {
  background-color: #302b7e;
}

.navbar-toggler-custom {
  border: white 1px solid !important;
}

.navbar-toggler-icon {
  background-image: none;
  color: white;
}

.navbar-toggler-icon::before {
  content: "\2630";
  font-size: 24px;
  color: white;
}
#floatright {
  position: absolute;
  top: 16%;
  right: 8%;
}
#floatright-img {
  position: absolute;
  top: 16%;
  right: 16%;
}
.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: visible;
}

.notifications {
  background: none;
  border: none;
  width: auto;
  height: auto;
  position: relative;
}

.notifications img {
  width: 35px;
  height: 35px;
}

.notification-count {
  position: absolute;
  top: -5px; /* Adjust to place it on top */
  right: -5px; /* Adjust to place it on top */
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 5px;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}
