<script>this.ngOninit()</script>
<nav class="navbar navbar-expand-lg nav-bg-color text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bold" routerLink="/dashboard">
      Sumerge
    </a>
    <button
      class="navbar-toggler navbar-toggler-custom"
      type="button"
      (click)="navbarCollapsed = !navbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="navbarCollapsed"
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-light"
            aria-current="page"
            routerLink="auth"
            [ngClass]="{
              'active fw-bold border-bottom border-light border-2':
                loc.pathname === '/auth'
            }"
            (click)="navbarCollapsed = true"
            >LogIn</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            (click)="navbarCollapsed = true"
            routerLink="dashboard"
            [ngClass]="{
              'active fw-bold border-bottom border-light border-2':
                loc.pathname === '/dashboard'
            }"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            (click)="navbarCollapsed = true"
            routerLink="career-packages"
            [ngClass]="{
              'active fw-bold border-bottom border-light border-2':
                loc.pathname === '/career-packages'
            }"
            >Career Packages</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="learnings"
            (click)="navbarCollapsed = true"
            [ngClass]="{
              'active fw-bold border-bottom border-light border-2':
                loc.pathname === '/learnings'
            }"
            >Learnings Library</a
          >

        </li>
        @if (isAuthenticated) {
          <li class="nav-item" id="floatright-img">
            <button class="notifications" routerLink="notifications">
              <img src="../../../assets/images/bell.png" />
              @if(notifications!=0){
                  <span class="notification-count">{{ notifications }}</span> <!-- Notification Count -->
                }
                </button>
              </li>

      }
        @if (isManager) {
        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="manage"
            (click)="navbarCollapsed = true"
            [ngClass]="{
              'active fw-bold border-bottom border-light border-2':
                loc.pathname === '/manage'
            }"
            >Manage</a
          >
        </li>
        } @if(this.isAdmin) {
        <li class="nav-item" id="floatright">

          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Manage
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="custom-dropdown-menu"
            >
              <button
                ngbDropdownItem
                (click)="AdminSelectedOption = 'ManageUser'"
                routerLink="admin-dashboard/user"
              >
                Manage Users
              </button>
              <button
                ngbDropdownItem
                (click)="AdminSelectedOption = 'ManageLearning'"
                routerLink="admin-dashboard/learning"
              >
                Manage Learnings
              </button>
              <button
                ngbDropdownItem
                (click)="AdminSelectedOption = 'ManageCP'"
                routerLink="admin-dashboard/careerpackage"
              >
                Manage Career Packages
              </button>
            </div>
          </div>
        </li>
        }
      </ul>
      @if (isAuthenticated) {
      <button class="btn btn-danger bg-danger" (click)="LogOut()">
        Log Out
      </button>
      }
    </div>
  </div>
</nav>
