.nav-bg-color {
  background-color: #302b7e;
}

.navbar-toggler-custom {
  border: white 1px solid !important;
}

.navbar-toggler-icon {
  background-image: none;
  color: white;
}

.navbar-toggler-icon::before {
  content: "\2630";
  font-size: 24px;
  color: white;
}
#floatright {
  position: absolute;
  top: 1px;
  right: 8%;
}
#floatright-img {
  position: absolute;
  top: 10%;
  right: 16%;
}
.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: visible;
}

.notifications {
  background: none; /* Remove default background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: auto; /* Ensure width is auto */
  height: auto; /* Ensure height is auto */
  display: inline-flex; /* Align items */
  align-items: center; /* Center vertically */
  position: relative; /* Position relative */
  right: 50;}

.notifications img {
  width: 35px; /* or your desired width */
  height: 35px; /* or your desired height */
  object-fit: contain; /* Ensure the image fits without distortion */
}
