<div class="container">
@if(updateEnabled){
  <app-admin-update [updateType]="'User'" (cancel)="onCancel()" [id]="this.id"></app-admin-update>
}
@else if(changePassword){
  <app-admin-update [updateType]="'password'" (cancel)="onCancel()" [id]="this.id"></app-admin-update>

}

<h1 class="d-flex justify-content-center">Admin Dashboard</h1>
<form class="row align-items-center">
  <div class="col-auto">
    <label for="table-filtering-search" class="col-form-label">Full text search:</label>
  </div>
  <div class="col-auto">
    <input
    id="table-filtering-search"
    class="form-control"
    type="text"
    [formControl]="filter"
    placeholder="Search users"

  />
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" type="button" (click)="onAddUser()">Add User</button>
  </div>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Department</th>
			<th scope="col">Title</th>
			<th scope="col">Manager</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@for (user of this.filteredUsers ; track user.firstName; let i = $index) {
			<tr>
        <th scope="row">{{ (userPage - 1) * userPageSize + (i + 1) }}</th>
				<td>
					<img
            src="assets/images/avatar1.png"
						[alt]="user.firstName+' '+user.lastName"
						class="me-2"
						style="width: 20px"
					/>
					<ngb-highlight [result]="user.firstName+' '+user.lastName" [term]="filter.value" />
				</td>
				<td><ngb-highlight [result]="user.email" [term]="filter.value" /></td>
				<td><ngb-highlight [result]="user.department.name" [term]="filter.value" /></td>
				<td><ngb-highlight [result]="user.title.name" [term]="filter.value" /></td>
				<td><ngb-highlight [result]="user.title.manager ? 'Yes' : 'No'" [term]="filter.value" /></td>
        <td>
          <!-- Update Button with solid color -->
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="onUpdate(user.id)"
            style="background-color: #0d6efd; border-color: #0d6efd;">
            Update User
          </button>
                     |
                    <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="onDelete(user.id)"
                    style="background-color: #dc3545; border-color: #dc3545;">
                    Delete User
                  </button> |
                  <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="onChangePassword(user.id)"
            style="background-color: #0d6efd; border-color: #0d6efd;">
            Change Password
          </button>
        </td>
			</tr>
		} @empty {
			<tr>
				<td colspan="4" style="text-align: center">No Users found</td>
			</tr>
		}
	</tbody>
</table>
<div class="d-flex justify-content-between p-2">
@if(this.userPageSize!-1){
  <ngb-pagination
  [collectionSize]="userCollectionSize"
  [(page)]="userPage"
  [pageSize]="userPageSize"
  (pageChange)="onPageChange($event)"
></ngb-pagination>
}

  <select class="form-select" style="width: auto" [(ngModel)]="userPageSize" (ngModelChange)="onPageSizeChange()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="1">All items</option>

  </select>
</div>


</div>
